p {
  color: gray;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10vmin;
  padding: 20px;
}
h1 {
  color: rgb(92, 120, 212);/* this colour wont applied because already in h tag referencing inline styling*/
  font-size: 30px;
  padding-right: 100px;
  border: 50px;
}
